-
  var
  brandName = 'SEOBIZ',
  logoDefault = 'logo-106x51',
  logoInverse = 'logo-inverse-205x50',
  logoDefaultRetina = 'images/logo-216x74.png 2x',
  getTemplateLink = '#',
  includeLayoutPanel = false,
  projectCategory = '#',
  singleProject = '#',
  singleService = '#',
  postLink = '#',
  postSlider = '#',
  postVideo = '#',
  blogPostLink = '#',
  postQuote = '#',
  postAudio = '#',
  postImage = '#',
  videoSrc = '//www.youtube.com/embed/-AhmuMqZB0s',
  seeFeaturesLink = 'features',
  teamMember = '#',
  menu = [
    {
      title: 'Home',
      link: '#home'
    },
    {
      title: 'About',
      link: '#about'
    },
    {
      title: 'Portfolio',
      link: '#gallery'
    },
    {
      title: 'Team',
      link: '#team'
    },
    {
      title: 'Services',
      link: '#services'
    },
    {
      title: 'Clients',
      link: '#clients'
    },
    {
      title: 'Contacts',
      link: '#contacts'
    }
  ]
